export(CandidateBio.getAddlBio)
export(CandidateBio.getBio)
export(CandidateBio.getDetailedBio)
export(Candidates.getByDistrict)
export(Candidates.getByElection)
export(Candidates.getByLastname)
export(Candidates.getByLevenshtein)
export(Candidates.getByOfficeState)
export(Candidates.getByOfficeTypeState)
export(Candidates.getByZip)
export(Committee.getCommittee)
export(Committee.getCommitteeMembers)
export(Committee.getCommitteesByTypeState)
export(Committee.getTypes)
export(District.getByOfficeState)
export(District.getByZip)
export(Election.getElection)
export(Election.getElectionByYearState)
export(Election.getElectionByZip)
export(Election.getStageCandidates)
export(Leadership.getOfficials)
export(Leadership.getPositions)
export(Local.getCities)
export(Local.getCounties)
export(Local.getOfficials)
export(Measure.getMeasure)
export(Measure.getMeasuresByYearState)
export(Npat.getNpat)
export(Office.getBranches)
export(Office.getLevels)
export(Office.getOfficesByBranchLevel)
export(Office.getOfficesByLevel)
export(Office.getOfficesByType)
export(Office.getTypes)
export(Officials.getByDistrict)
export(Officials.getByLastname)
export(Officials.getByLevenshtein)
export(Officials.getByOfficeState)
export(Officials.getByOfficeTypeState)
export(Officials.getByZip)
export(Officials.getStatewide)
export(Rating.getCandidateRating)
export(Rating.getCategories)
export(Rating.getRating)
export(Rating.getSig)
export(Rating.getSigList)
export(Rating.getSigRatings)
export(State.getState)
export(State.getStateIDs)
export(Votes.getBill)
export(Votes.getBillAction)
export(Votes.getBillActionVoteByOfficial)
export(Votes.getBillActionVotes)
export(Votes.getBillsByCategoryYearState)
export(Votes.getBillsByOfficialCategoryOffice)
export(Votes.getBillsByOfficialYearOffice)
export(Votes.getBillsBySponsorCategory)
export(Votes.getBillsBySponsorYear)
export(Votes.getBillsByStateRecent)
export(Votes.getBillsByYearState)
export(Votes.getByOfficial)
export(Votes.getCategories)
export(Votes.getVetoes)
export(getAllBios)
export(getAllDetailedBios)
export(getAllCities)
export(getAllCounties)
export(getAllDistricts)
export(getAllLocalOfficials)
export(getAllVotes)
export(getOffices)
import(XML, httr, nnet, dplyr)
importFrom("stats", "na.omit")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")